body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.icon-arrow-down {
  transform: rotate(180deg);
}
.title-navbar {
  font-size: 14px;

  font-weight: 700;
  line-height: 17.5px;
}

.title-content {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 900;
  line-height: 50px; /* 125% */
  letter-spacing: 0.6px;
}

.title-content-lock {
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.652px;
}
.title-lock {
  font-family: "Playfair Display";
  font-size: 36px;
  text-align: center;
  line-height: normal;
  font-weight: 900;
  line-height: 45px;
}
.text-lock {
  font-size: 12px;
  line-height: normal;
  font-weight: 700;

  letter-spacing: -0.652px;
}
.text-about-blue {
  color: #079bee;
  font-family: " Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}
.text-about {
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.text-sm {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
  letter-spacing: 0.9px;
}

.text-sm-bold {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

.text-md-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.text-md-game {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.text-md {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.text-language {
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.5px;
}

.text-lg {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%;
}
.label-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.input::placeholder {
  color: #545454;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.input:focus {
  outline: 0px none #fff !important;
}
.input-footer::placeholder {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.input-footer:focus {
  outline: 0px none #fff !important;
}
.shadow-card {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.card:nth-child(2n-2) {
  position: relative;
  top: 35px;
}

@media screen and (min-width: 768px) {
  .card:nth-child(2n-2) {
    position: relative;
    top: 0px;
  }
  .card:nth-child(2) {
    position: relative;
    top: 35px;
  }
  .card:nth-child(5) {
    position: relative;
    top: 35px;
  }
  .card:nth-child(8) {
    position: relative;
    top: 35px;
  }
  .card:nth-child(11) {
    position: relative;
    top: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .text-md-game {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
    letter-spacing: -1px;
  }
  .title-content {
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: 900;
    line-height: 60px; /* 125% */
    letter-spacing: 3.6px;
  }
  .text-sm {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
  }

  .title-content-lock {
    font-size: 66px;
  }
  .title-lock {
    font-size: 60px;

    line-height: 64px;
  }
  .text-lock {
    font-size: 16px;
  }
  .card:nth-child(2n-2) {
    position: relative;
    top: 0px;
  }
  .card:nth-child(5) {
    position: relative;
    top: 0px;
  }
  .card:nth-child(2) {
    position: relative;
    top: 120px;
  }
  .card:nth-child(4) {
    position: relative;
    top: 120px;
  }
  .card:nth-child(6) {
    position: relative;
    top: 120px;
  }
  .card:nth-child(8) {
    position: relative;
    top: 120px;
  }
  .card:nth-child(10) {
    position: relative;
    top: 120px;
  }
  .card:nth-child(11) {
    position: relative;
    top: 0px;
  }
  .card:nth-child(12) {
    position: relative;
    top: 120px;
  }
}

@media screen and (min-width: 1536px) {
  .text-md-game {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: "transparent";
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  color: "transparent";
  border: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
  color: "transparent";
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  background-color: "transparent";
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-image: url("/image/arrow-square-left.png");
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  background-image: url("/image/arrow-square-right.png");
}

.lang-menu {
  width: 100px;
  text-align: right;
  font-weight: bold;
  position: relative;
}
.lang-menu .selected-lang {
  padding: 6px 14px;
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--neutral-n-400, #afafaf);
  background: var(--neutral-n-50, #f6f6f6);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 55px;
  right: -50px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  align-items: center;
}

.lang-menu ul li a {
  text-decoration: none;
  padding: 5px 10px;
  align-items: center;
}

.lang-menu ul li:hover {
  background-color: #f2f2f2;
}

.lang-menu:hover ul {
  display: block;
}

@media screen and (max-width: 1024px) {
  .icon-language {
    display: none;
  }
  .icon-arrow-pc {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .lang-menu .selected-lang {
    display: flex;
    border-radius: 0;
    padding: 0;
    border: none;
    background: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .lang-menu {
    display: flex;
    border-radius: 0;
    border: none;
    padding: 0;
    background: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 55px;
    right: 30px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  }
}

/* Shine */
.card {
  position: relative;
}
.card::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.card:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, -10px, 20px);
  }
  to {
    transform: translate3d(0, 40px, 0);
  }
}

.witch {
  animation: bounce 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
